@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  height: 100%;
}

#map__container {
  height: 100%;
}

#btn-zoom {
  position: absolute;
  top: 45px;
  left: 10px;
  z-index: 10;
}

#map__text {
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 10;
}

.heading{
  margin: 25px 50px 0px;
}

.heading div{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}